<table class="table">
  <thead>
    <tr>
      {{#each (#TODO)}}
        <th><strong>{{num}}</strong</th>
      {{/each}}
    </tr>
  </thead>
  <tbody>
    {{#each transposedColumnArray as |rowArray|}}
      <tr>
        {{#each rowArray as |item|}}
          <td>{{item}}</td>
        {{/each}}
      </tr>
    {{/each}}
  </tbody>
</table>
