<table class="table">
  <thead>
    <tr>
      # TODO
    </tr>
  </thead>
  <tbody>
    {{#each matrix as |rowArray|}}
      <tr>
        {{#each rowArray as |item|}}
          <td>{{item}}</td>
        {{/each}}
      </tr>
    {{/each}}
  </tbody>
</table>
