<h1>Array in Column Order</h1>

<form {{action 'submitCSV' this on='submit'}}>
  <div class="form-group">
    <label for="csvString">CSV</label>
    {{input type='text' value=csvString class='form-control' placeholder='A,B,C,D,E,F,G,...'}}
  </div>
</form>
